---
layout: single
title: "Posts tagged with '{{ page.tag }}'"
permalink: /tags/{{ page.tag | slugify }}/
---

{% assign tagged_posts = site.posts | where_exp: "post", "post.tags contains page.tag" | sort: "date" | reverse %}

{% if tagged_posts and tagged_posts != empty %}
  <ul class="archive__list">
    {% for post in tagged_posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="archive__item-date">{{ post.date | date: "%Y-%m-%d" }}</span>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p><em>No posts found for this tag.</em></p>
{% endif %}

<p><a href="{{ '/' | relative_url }}">← Back to Home</a> |
<a href="{{ '/tags/' | relative_url }}">Browse All Tags</a></p>
